body {
    margin: 0;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 10% 80% 10%;
    font-family: 'Lato', sans-serif;
}

/*Header and Nav*/

header {
    background-color: #F1F0F9;
    grid-area: header;
    display: flex;
}
.header-logo {
    padding: 10px;
    display: inline;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
nav {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    margin: 20px 20px 0px auto;
}
nav a {
    text-decoration: none;
    color: black;
}
nav li {
    list-style: none;
    padding: 30px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.main-links-jg {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.dropdown-jg {
    position: relative;
}
.dropdown-links-jg {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #F1F0F9;
    text-align: center;
}
.dropdown-jg:hover .dropdown-links-jg {
    opacity: 100;
    display: block; 
    z-index: 3;
}
.dropdown-links-jg li:hover {
    background-color: #8ABC8E;
}

/*Home Page*/

.home-main {
    overflow: scroll;
    grid-area: main;
}
.home-container {
    width:80%;
    display: flex;
    justify-content: center;
    
}
.home-image {
    width: 100%;
}
.home-text {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    background-color: white;
    opacity: 0.85;
    font-family: 'Lato';
    border-radius: 3px;
    padding: 20px;
    font-size: 1.1em;
    max-height: 500px;
    overflow: scroll;
}

/*Footer*/

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #412234;
}
.footer-logo {
    margin: 20px 0px 10px;
}
.footer-info {
    font-family: 'Lato', sans-serif;
    color: #FFC857;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
}
ul.footer-address li{
    list-style: none;
    display: inline;
    padding: 5px;
}
hr {
    width: 80%;
    height: 2px;
    border: none;
    background-color: black;
}
.social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.social-links a {
    padding: 5px;
}
input#email {
    margin: 15px 0px auto 15px;
    height: 20px;
}

footer button {
    margin-top: 15px;
    height: 26px;
    background-color: #8abc8e;
    border-radius: 5px;
    border: none;
}


@media only screen and (max-width: 400px) {

    body {
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        
    }
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px;        
    }

    header img {
        max-width: 250px;
        
    }
    nav {        
        width: 100%;
        height: 10%;
        padding-bottom: 10px;
    }
    nav li {
        padding: 2px;
    }
    .main-links-jg {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        place-content: flex-start;
        width: 100%;       
    }

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        place-content: flex-start;
        width: 100%;        
    }    

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        place-content: center;
        width: 100%;
        padding-right: 10px;     
    }

    ul.footer-address li{
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: .75em;
    }

    .social-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-logo {
        max-width: 250px;
        margin: 5px;
    }
}
